@import 'tailwindcss';

@font-face {
    font-family: 'DisketMono';
    src: url('/fonts/auraSecurity/Disket-Mono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('/fonts/auraSecurity/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('/fonts/auraSecurity/IBMPlexMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VioletSans';
    src: url('/fonts/auraSecurity/VioletSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background: #0a0a0a;
    color: #ededed;
    font-family: 'IBMPlexMono', monospace;
    font-weight: 400;
    font-style: normal;
}

.font-violet {
    font-family: 'VioletSans', sans-serif;
}

.font-ibm {
    font-family: 'IBMPlexMono', monospace;
}

.font-disket {
    font-family: 'DisketMono', monospace;
}

.clip-panel-label {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.clip-panel-label-mirrored {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

.clip-panel-label-both {
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
}

.swiper-button-prev,
.swiper-button-next {
    position: relative !important; /* remove absolute positioning */
    color: #fff973 !important;
}
