@import 'tailwindcss';

@font-face {
    font-family: 'DisketMono';
    src: url('/fonts/auraSecurity/Disket-Mono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('/fonts/auraSecurity/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('/fonts/auraSecurity/IBMPlexMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'VioletSans';
    src: url('/fonts/auraSecurity/VioletSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'IBMPlexMono', monospace;
    font-weight: 400;
    font-style: normal;
}

.font-violet {
    font-family: 'VioletSans', sans-serif;
}

.font-ibm {
    font-family: 'IBMPlexMono', monospace;
}

.font-disket {
    font-family: 'DisketMono', monospace;
}

.clip-panel-label {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}

.clip-panel-label-both {
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
}
